<div class="container">
  <div class="todo-list">
    <h1>Todo List</h1>
    <div>
      <input
        [(ngModel)]="todo.title"
        type="text"
        placeholder="Add a new Task"
      />
      <button [disabled]="!todo.title" (click)="onAdd()" type="button">
        {{ todo.id ? "Update" : "Add" }}
      </button>
    </div>
    <ul>
      <li *ngFor="let item of todoLists">
        <label for="task">{{ item.title }}</label>
        <i (click)="onEditTodo(item)" class="fa fa-pencil"></i>
        <i (click)="onDeleteTodo(item.id)" class="fa fa-times"></i>
      </li>
    </ul>
  </div>
</div>
